body{
    background-color:rgb(33, 33, 33);
    
    margin: 0;    
    padding: 3vw;
}

.throw {
    margin: 0.5em;
    padding: 1em;

    width: 1%;
    border-radius: 30%;

    font-weight: 800;
    color:black;
    text-align: center;

    /*kommenteeri välja et visked terve rea võtaks*/
    display:inline-block;
    
}

#dices > p{
    color:red;
}

.throw{
    background-color: #63bf7c;
}
.total {
    width:100%;
    padding: 1em;
    background-color: #363636;

    color:white;
    
}

