html {
    width: 100%;
    font-size: 2vh;
    text-align: center;
    background-color: rgb(26, 25, 25);
    color: rgb(211, 73, 204); 
}
html, body {
    margin: 0;
    padding:0;
}

hr {
    width: 50%;
    border: 0.1vh solid black;
}

h1{
    margin: 0 auto;
}

#errorMsg{
    width: 100%;
    height:3vh;
    margin: 0 auto;
}

button {
    width: 20vh;
    height: 5vh;
    border-radius: 1vh; 
    background-color: rgb(71, 71, 71);
    color: rgb(214, 107, 209); 
    border: 0.05vh solid rgb(105, 105, 105);
    font-size: 1.5rem;
}

#board {   
    height: 48.9vh;
    width: 48.9vh;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.ruut{
    margin: 0;
    padding:0;
    width: 5vh;
    height: 5vh;
    border: 0.1vw solid rgb(0, 0, 0);
    background-color: rgb(71, 71, 71);
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5vh;
}

#digits {
    width: 48.9vh;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.bottom {
    border: 0.1vw solid black;
}

.number-selected {
    background-color: rgb(59, 36, 56);
}