/*test main page*/

html {
    font-size: 3vh;
}

body{
    background-color:rgb(33, 33, 33);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;

    
    width: 100%;
    position: absolute; 
    overflow: hidden; /* Hide scrollbars */
}

.diagonal{
    height: 100vh;
    width: 22%;

    padding: 1vh;
    margin: 1vh;
    margin-top: 0;
    
    background-color: rgb(33, 33, 33);
    color:white;
    
    text-align: center;
    transform: skewX(-11deg);

    line-height: 100vh;
    z-index: 1;
}

.diagonal:hover {
    z-index: 2;
}

._1:hover{
    box-shadow: 0 0 1vw 0.5vw rgb(255, 38, 0);
}
._2:hover{
    box-shadow: 0 0 1vw 0.5vw rgb(147, 255, 24);
}
._3:hover{
    box-shadow: 0 0 1vw 0.5vw rgb(0, 47, 255);
}
._4:hover{
    box-shadow: 0 0 1vw 0.5vw rgb(255, 0, 221);
}

a, a:visited{
    color:white;
}
a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}